@mixin grid($grid-gap, $grid-template-column) {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: $grid-template-column;
}

@mixin flex-colunm {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.panel {
  @include grid(2vw, 1fr 3fr);
  padding: 5vw;
  width: 100vw;

  &__files {
    @include flex-colunm();
  }

  &__devices {
    @include grid(2vw, repeat(3, 1fr));
  }
}

.device {
  @include flex-colunm();

  &__files {
    @include flex-colunm();
  }
}

.tile {
  border: 0.1rem solid #000;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--top {
    border: none;
  }
}
